@font-face {
  font-family: "Kanit";
  src: url("../../fonts/Kanit/Kanit-Black.ttf") format("ttf");
}

.hamburger {
  display: none;
}
.App-header {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  align-items: center;
}

.App-header-name {
  text-decoration: none;
  background-color: #27ba8e;
  border-radius: 50%;
  padding: 15px;
  color: #fff;
}

.App-header-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .hamburger {
    display: flex;
    width: 24px;
    height: 24px;
    cursor: pointer;
    padding: 10px;
  }
  .social-link-container {
    display: flex;
  }

  .social-link-image {
    width: 30px;
    height: 30px;
  }
}
