@font-face {
  font-family: "Kanit";
  src: url("../../fonts/Kanit/Kanit-Black.ttf") format("ttf");
}

.App-header {
  display: flex;
  justify-content: space-evenly;
  /* font-size: calc(10px + 2vmin); */
}
