@font-face {
  font-family: "Kanit";
  src: url("../../fonts/Kanit/Kanit-Black.ttf") format("ttf");
}

.hamburger {
  display: none;
}
.App-header {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  align-items: center;
}

.App-header-name {
  color: #fff;
  margin: 0px;
  text-decoration: none;
  font-size: 30px;
}
.App-header-name:hover {
  transition: color 1s ease;
  color: #27ba8e;
}

@media only screen and (max-width: 768px) {
  .hamburger {
    display: flex;
    width: 24px;
    height: 24px;
    cursor: pointer;
    padding: 10px;
  }

  .App-header-mobile {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }
  .social-link-container {
    display: flex;
  }

  .social-link-image {
    width: 30px;
    height: 30px;
  }
}
