.nav-desktop {
  display: flex;
  justify-content: space-between;
}

.nav__links {
  list-style-type: none;
  display: flex;
  align-items: center;
  column-gap: 20px;
  padding: 0px 20px;
}

.nav__link {
  text-decoration: none;
  font-family: "Syne-bold";
  color: #9098a1;
}

.nav__link:hover {
  transition: color 1s ease;
  color: #51ab90;
}

.github-image {
  width: 30px;
  height: 30px;
}

.linkedin-image {
  width: 30px;
  height: 30px;
}

.social_links {
  list-style: none;
  padding: 0px 20px;
}

.social__link {
  padding: 10px;
}

.nav-mobile {
  display: none;
}
.social_links-mobile {
  display: none;
}

@media only screen and (max-width: 768px) {
  .nav-desktop {
    display: none;
  }
  .nav-mobile {
    display: flex;
    position: absolute;
    right: 30px;
    top: 30px;
  }
  .nav__links-mobile {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0px;
    gap: 10px;
    background-color: #fff;
    padding: 10px;
  }

  .social_links-mobile {
    display: flex;
    margin: 0px;
    padding-left: 0px;
  }
}
