.nav {
  display: flex;
  gap: 40px;
}

.nav__links {
  list-style-type: none;
  display: flex;
  align-items: center;
  column-gap: 20px;
  padding: 0px;
}

.nav__link {
  text-decoration: none;
  font-family: "Syne-bold";
  color: #9098a1;
}

.nav__link:hover {
  transition: color 1s ease;
  color: #51ab90;
}

.github-image {
  width: 30px;
  height: 30px;
}

.linkedin-image {
  width: 30px;
  height: 30px;
}

.social_links {
  list-style: none;
  padding: 0px;
  display: flex;
  align-items: center;
  margin: 0px;
}

.social__link {
  padding: 10px;
}
