.main-container {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.profile-name {
  color: #27ba8e;
}

.main__img {
  border-radius: 50%;
  width: 15%;
}

.profile-info {
  width: 50%;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

.profile__title {
  margin: 0;
}
.profile__subtitle {
  margin: 0;
}

.profile__description {
  margin: 0px;
  color: #9098a1;
}

.contact-btn {
  background-color: #27ba8e;
  text-decoration: none;
  border: none;
  height: 40px;
  border-radius: 20px;
  width: 20%;
  cursor: pointer;
  color: #fff;
  padding: 0px;
  font-family: "Syne-medium";
}
