.main-container {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 20px 0;
  justify-content: center;
}

.profile-name {
  color: #27ba8e;
}

.main__img {
  border-radius: 50%;
  max-width: 200px;
}

.profile-info {
  max-width: 600px;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile__title {
  margin: 0;
}
.profile__subtitle {
  margin: 0;
}

.profile__description {
  margin: 0px;
  color: #9098a1;
}

.contact-btn {
  background-color: #27ba8e;
  text-decoration: none;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  padding: 10px;
  font-family: "Syne-medium";
  font-size: 15px;
  color: #fff;
}
