.main-container {
  align-items: center;
  display: flex;
  gap: 20px;
  padding: 0 20px;
  padding-top: 10px;
}

.profile-name {
  color: #27ba8e;
}

.main__img {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  padding: 10px;
}

.profile-info {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

.profile__title {
  margin: 0;
}
.profile__subtitle {
  margin: 0;
}

.profile__description {
  margin: 0px;
  color: #9098a1;
}

.contact-btn {
  background-color: #27ba8e;
  border: none;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  font-family: Syne-medium;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
  width: 150px;
}

@media only screen and (max-width: 768px) {
  .main-container {
    display: flex;
    flex-direction: column;
  }
}
