.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  color: #000;
  padding: 0px 20px;
  background-color: #66d0b0;
}

.footer__nav-icons {
  display: flex;
  gap: 10px;
}

.footer__github-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  border-radius: 6px;
}

.footer__linkedin-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  border-radius: 6px;
}

.footer__cp-text {
  text-decoration: none;
  color: #000;
}
