.contactme__info-title {
  color: #fff;
}

.contactme__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.email-link {
  text-decoration: none;
  color: #fff;
}

.contactme {
  padding: 20px;
}
