.about {
  display: flex;
  gap: 20px;
  padding: 10px 20px;
}

.about__info {
  padding: 10px;
}

.about__info-title {
  color: #fff;
}
.about__info-description {
  color: #9098a1;
}

.about__info-workwithme-btn {
  background-color: #27ba8e;
  text-decoration: none;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  color: #fff;
  padding: 10px;
  font-family: "Syne-medium";
  font-size: 15px;
}

.about__image {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  padding: 10px;
}

@media only screen and (max-width: 768px) {
  .about {
    display: flex;
    flex-direction: column-reverse;
  }
  .main__img {
    display: none;
  }
}
