.about {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 20px 0;
  justify-content: center;
}

.about__info {
  max-width: 600px;
}

.about__info-title {
  color: #fff;
}
.about__info-description {
  color: #9098a1;
}

.about__info-workwithme-btn {
  background-color: #27ba8e;
  text-decoration: none;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  color: #fff;
  padding: 10px;
  font-family: "Syne-medium";
  font-size: 15px;
}

.about__image {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
